.item_titulo{
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight:700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color:var(--cinza-escuro);
}
.item_texto{

    font-weight: 400;
    line-height: normal;
    padding-bottom: 2rem;
}
.diferenciais {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
.diferenciais_item{
 
    max-width: 320px;
    box-sizing: border-box;
    padding: 2rem 0 2rem 5rem;
    background-repeat: no-repeat;
    background-position: top 1.25rem left 2.5rem;
}
.diferenciais_item--tempo{
    background-image: url(../img/icone-relogio.png);

}
.diferenciais_item--foco{
    background-image: url(../img/icone-dinheiro.png);

}
.diferenciais_item--especialistas{
    background-image: url(../img/icone-quimica.png);

}
.diferenciais_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and ( min-width:1024px){
    .diferenciais{
        padding: 4rem;
        background-color: var(--cinza-claro);
    }
}
